.promote-bg{
  background-image: url("https://media.istockphoto.com/id/1398518067/photo/bakery-shop-interior-close-up-view-of-bakery-counter-with-freshly-baked-food-and-buns.jpg?s=612x612&w=0&k=20&c=TfKM_seXHgWYli3P-6Rgd9KnKdiDjuRqccpQ3-xVYDk=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.6;
}

.promote-bg-position{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.promote-content{
  z-index: 1;
}

.home-swiper-position{
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}

.swiper-hover:hover{
  opacity: 0.8;
  transform: scale(1.1);
}

.swiper-hover:hover .home-swiper-hover{
  display: block !important;
}

.btn-bg{
  background-color: rgba(0, 0, 0, 0.75);
}

.article-width{
  width: 100%;
}

@include lg {
  .article-width{
    width: 75%;
  }
}